.boyName{
  background-color: blue;
  color: orange;
}

.girlName{
  background-color: pink;
  color: purple;
}

.boyAndGirl{
  background-color: green;
  color: gold;
}

.errorMessage{
  background-color: red;
  color: white;
}

#keyChart{
  border: solid black 2px;
  border-radius: 10px;
  width: 25%;
  margin-top: 2%;
}

#keyChart li{
  border: solid navy 2px;
  margin-right: 10%;
  border-radius: 10px;
}

#nameInfo{
  width: 50%;
}

#customButton{
  background-color: #01274e;
  color: #cc5500;
  border-radius: 20px;
  text-decoration: underline;
}
